@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Prompt:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header img {
  width: 100px;
  height: 100px; }

header nav {
  background: #6d8b74;
  background: linear-gradient(0deg, #6d8b74 0%, #5f7161 51%); }

.collapse {
  flex-direction: row-reverse; }

main {
  width: 100%;
  background-image: url("../img/fondogeneralindex.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

footer {
  background: #6d8b74;
  background: linear-gradient(180deg, #6d8b74 0%, #5f7161 51%); }

/* ---- Main Index ---*/
/* ----Grilla invisible con aplicaciones de flex-box dentro de cada contenedor--- */
.grilla_general {
  color: #efead8;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 20% 20% 60%;
  grid-template-areas: "h1h4 . redessoc" ". parraf parraf" "promo promo promo"; }
  .grilla_general .titulo {
    grid-area: h1h4;
    padding-left: 35px; }
    .grilla_general .titulo h1 {
      font-size: 50px;
      font-weight: 700;
      font-style: normal;
      font-family: "Source Serif Pro", serif;
      letter-spacing: 5px;
      color: #efead8;
      text-align: left; }
    .grilla_general .titulo h4 {
      font-size: 30px;
      font-weight: 700;
      font-style: normal;
      font-family: "Source Serif Pro", serif;
      color: #efead8;
      text-align: left; }
  .grilla_general .redes {
    grid-area: redessoc;
    width: fit-content;
    height: fit-content;
    background-color: rgba(126, 174, 158, 0.484);
    justify-self: end; }
  .grilla_general .parrafo {
    grid-area: parraf;
    display: flex;
    justify-content: center; }
    .grilla_general .parrafo p {
      height: 150px;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-right: 5%;
      font-size: 26px;
      font-weight: 400;
      font-style: italic;
      font-family: 'Lora', serif;
      text-align: justify;
      color: #efead8;
      justify-content: left; }
  .grilla_general .promos {
    grid-area: promo;
    display: flex;
    justify-content: flex-start;
    margin-top: 15px; }
    .grilla_general .promos h2 {
      color: #efead8;
      font-family: 'Source Serif Pro', serif;
      font-weight: 900;
      text-align: left;
      line-height: 15px;
      font-size: 30px;
      margin-bottom: 40px;
      margin-left: 40px; }
    .grilla_general .promos div {
      width: 170px;
      height: 350px;
      margin: 5px 20px 0px 20px;
      border: 2px outset #b6bfbf;
      text-align: center;
      background-color: #729c8e;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      transition: 1s; }
      .grilla_general .promos div:hover {
        transform: scale(0.9); }
      .grilla_general .promos div a {
        height: fit-content;
        text-decoration: none;
        color: #d0c9c0;
        background-color: #6d8b74;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: normal;
        font-size: 15px;
        padding: 3px; }
      .grilla_general .promos div h3 {
        width: 175px;
        height: fit-content;
        color: #d0c9c0;
        font-family: 'Source Serif Pro', serif;
        font-weight: 800;
        line-height: 15px;
        font-size: 18px;
        margin-top: 5px; }
      .grilla_general .promos div h4 {
        width: 130px;
        height: fit-content;
        text-align: center;
        padding: 3px;
        color: #d0c9c0;
        font-family: 'Source Serif Pro', serif;
        font-weight: 600;
        line-height: 12px;
        font-size: 16px;
        margin: 15px; }
      .grilla_general .promos div img {
        width: 170px;
        height: 200px;
        margin-bottom: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; }

/*-----Main Nosotros-------*/
.nosotros {
  display: grid;
  grid-template-columns: 20% 30% 50%;
  grid-template-rows: 15% 10% 30% 45%;
  grid-auto-rows: 1fr;
  gap: 0px 1%;
  grid-auto-flow: column;
  justify-content: flex-start;
  justify-items: stretch;
  align-items: flex-start;
  grid-template-areas: "h1 . ." "foto titulo1 ." "foto parrafo1 ." ". imagen titulo2";
  width: 100%;
  padding-top: 5px; }
  .nosotros .h1 {
    color: #efead8;
    padding-left: 15%;
    padding-top: 15px;
    font-family: "Source Serif Pro", serif;
    font-weight: 900;
    text-align: left;
    line-height: 15px;
    font-size: 30px; }
  .nosotros .titulo1 {
    justify-items: end;
    align-items: flex-end;
    grid-area: titulo1;
    width: 100%; }
    .nosotros .titulo1 h2 {
      font-size: 32px;
      font-weight: 600;
      font-style: normal;
      font-family: 'Lora', serif;
      text-align: start;
      color: #efead8;
      margin: 3px; }
  .nosotros .foto {
    justify-self: end;
    align-self: auto;
    grid-area: foto; }
    .nosotros .foto img {
      width: 220px;
      height: 330px;
      border: outset 5px #cc4040;
      transition: 1.7s; }
      .nosotros .foto img:hover {
        transform: rotateY(45deg); }
  .nosotros .parrafo1 {
    align-items: flex-start;
    grid-area: parrafo1;
    width: 100%; }
    .nosotros .parrafo1 ::first-letter {
      font-size: 32px;
      font-weight: 600; }
    .nosotros .parrafo1 p {
      padding: 7px;
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      font-family: 'Lora', serif;
      text-align: start;
      color: #efead8; }
  .nosotros .imagen {
    justify-self: end;
    align-self: flex-start;
    margin-top: 30px;
    grid-area: imagen;
    width: 150px;
    height: 150px; }
    .nosotros .imagen img {
      width: 100%;
      height: 100%;
      border: outset 5px #cc4040;
      transition: 1.5s; }
      .nosotros .imagen img:hover {
        transform: rotateY(45deg); }
  .nosotros .titulo2 {
    justify-items: flex-start;
    align-self: flex-start;
    grid-area: titulo2;
    width: 75%; }
    .nosotros .titulo2 h2 {
      font-size: 32px;
      font-weight: 600;
      font-style: normal;
      font-family: 'Lora', serif;
      text-align: justify;
      color: #efead8;
      margin: 3px; }
    .nosotros .titulo2 p {
      padding: 7px 7px 50px 7px;
      font-size: 20px;
      font-weight: 400;
      font-style: normal;
      font-family: 'Lora', serif;
      text-align: justify;
      color: #efead8;
      margin-bottom: 120px; }
      .nosotros .titulo2 p ::first-letter {
        font-size: 32;
        font-weight: 600; }

/*----------Main Servicios-----------*/
.container_servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% repeat(2, 1fr);
  gap: 2% 0px;
  grid-template-areas: "h1" "cards" "promoservicios";
  justify-content: stretch;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  width: 100%; }
  .container_servicios .h1_servicios {
    color: #efead8;
    font-weight: 900;
    font-size: 40px;
    font-family: "Source Serif Pro", serif;
    justify-self: center;
    align-self: center;
    grid-area: h1; }
  .container_servicios .cardservicios {
    justify-self: center;
    align-self: start;
    grid-area: cards;
    width: 100%; }
    .container_servicios .cardservicios div {
      color: #d0c9c0;
      font-family: "Source Serif Pro", serif;
      width: 160px;
      height: 280px;
      background-color: #729c8e;
      justify-content: center;
      text-align: center;
      padding: 7px;
      border-radius: 10px;
      margin: 3%; }
    .container_servicios .cardservicios h3 {
      height: fit-content;
      font-weight: 800;
      font-size: 18px; }
    .container_servicios .cardservicios h4 {
      height: fit-content;
      font-weight: 600;
      font-size: 16px; }
    .container_servicios .cardservicios img {
      height: fit-content;
      width: fit-content; }
  .container_servicios .promoservicios {
    justify-self: center;
    align-self: start;
    grid-area: promoservicios; }
    .container_servicios .promoservicios h2 {
      justify-content: center;
      width: 170px;
      color: #d0c9c0;
      font-family: "Source Serif Pro", serif;
      font-weight: 800;
      font-size: 26px;
      margin-top: 5px;
      margin-left: 20px;
      padding-left: 5px; }
    .container_servicios .promoservicios div {
      width: 170px;
      height: 270px;
      margin: 5px 20px 0px 20px;
      border: 2px outset #b6bfbf;
      justify-content: center;
      text-align: center;
      background-color: #729c8e;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }
      .container_servicios .promoservicios div img {
        width: 170px;
        height: 100px;
        margin-bottom: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; }
      .container_servicios .promoservicios div h3 {
        height: fit-content;
        justify-content: center;
        color: #d0c9c0;
        font-family: "Source Serif Pro", serif;
        font-weight: 800;
        line-height: 15px;
        font-size: 16px;
        margin-top: 5px; }
      .container_servicios .promoservicios div h4 {
        width: 150px;
        height: fit-content;
        text-align: left;
        padding: 5px;
        color: #d0c9c0;
        font-family: "Source Serif Pro", serif;
        font-weight: 600;
        line-height: 12px;
        font-size: 16px;
        margin-top: 10px; }

/*----------Main Blog----------*/
.container_blog {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 1fr 8% 1.5fr;
  gap: 1px 2px;
  grid-auto-flow: row;
  grid-template-areas: "titulo_blog" "icono" "titulo_video" "video"; }
  .container_blog .titulo_blog {
    color: #efead8;
    font-weight: 800;
    font-size: 40px;
    font-family: "Source Serif Pro", serif;
    justify-self: center;
    align-self: center;
    justify-self: center;
    padding-top: 15px;
    grid-area: titulo_blog; }
  .container_blog .icono {
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
    grid-area: icono; }
  .container_blog .titulo_video {
    color: #efead8;
    font-weight: 700;
    font-size: 30px;
    font-family: "Source Serif Pro", serif;
    justify-self: center;
    align-self: center;
    justify-self: center;
    grid-area: titulo_video; }
  .container_blog .video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    grid-area: video; }
    .container_blog .video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: ridge 8px #a5a3a3; }

/*------Main Contacto------*/
.icono_mail {
  width: 200px;
  height: 200px; }

.mt-5 {
  color: #efead8; }

/* Header */
@media screen and (max-width: 821px) {
  header {
    flex-direction: column; } }

@media screen and (max-width: 680px) {
  header nav ul {
    flex-direction: column; } }

/* Main - INDEX */
@media screen and (max-width: 1040px) {
  .redes {
    position: sticky;
    left: 0px;
    bottom: 0px; } }

/* media querie realizado con mobile first a 1024px*/
@media screen and (min-width: 1024px) {
  .parrafo p {
    align-items: flex-start;
    font-size: 20px;
    margin-bottom: 50%; }
  .promos {
    margin-top: 50px;
    align-items: center; } }

@media screen and (max-width: 855px) {
  .parrafo {
    grid-column: span 3;
    margin-inline: 20px; }
  .promos {
    flex-direction: column;
    align-items: center; }
    .promos div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: min-content;
      height: 350px; }
      .promos div a {
        margin-inline: 5px; } }

@media screen and (max-width: 685px) {
  .parrafo p {
    font-size: 18px;
    font-weight: 300; }
  .titulo h4 {
    display: none; } }

@media screen and (max-width: 600px) {
  .redes div a img {
    width: 30%;
    height: 30%; } }

@media screen and (max-width: 560px) {
  .grilla_general {
    grid-template-rows: 13% 15% 72%;
    grid-template-areas: "h1h4 . redessoc" "parraf parraf parraf" "promo promo promo"; }
    .grilla_general .parrafo p {
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 10px; }
    .grilla_general .promos {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap; }
      .grilla_general .promos div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: min-content;
        height: auto; }
        .grilla_general .promos div a {
          margin-inline: 5px; }
        .grilla_general .promos div img {
          width: 40%;
          height: 40%;
          margin-bottom: 5px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px; } }

@media screen and (max-width: 440px) {
  .grilla_general {
    grid-template-rows: 13% 15% 72%;
    grid-template-areas: "h1h4 . redessoc" "parraf parraf parraf" "promo promo promo"; }
    .grilla_general .parrafo p {
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 10px; }
    .grilla_general .promos h2 {
      margin-top: 10px;
      margin-bottom: 5px; } }

/* -------Main - NOSOTROS */
@media (max-width: 1650px) and (min-width: 300px) {
  .nosotros {
    display: flex;
    flex-direction: column; }
    .nosotros .foto {
      justify-self: center;
      align-self: center; }
    .nosotros .imagen {
      justify-self: center;
      align-self: center; }
    .nosotros .titulo1 h2 {
      font-size: 26px;
      justify-self: center;
      margin-left: 30px; }
    .nosotros .titulo2 h2 {
      font-size: 26px;
      margin-left: 50px; }
    .nosotros .titulo2 p {
      font-size: 18px;
      margin: 30px;
      align-items: center; }
    .nosotros .parrafo1 p {
      font-size: 18px;
      margin: 30px; }
    .nosotros p {
      font-size: 18px;
      margin: 30px;
      padding: 50px; } }

/* ------------------MAIN - SERVICIOS -------------*/
@media screen and (min-width: 420px) {
  .cardservicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .promoservicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; } }

@media screen and (max-width: 420px) {
  .cardservicios {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .promoservicios {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/* -------------------- MAIN BLOG ---------------*/
@media screen and (max-width: 600px) {
  .container_blog {
    display: flex;
    flex-direction: column;
    justify-content: center; } }
