main {
    width: 100%;

    background-image: url("../img/fondogeneralindex.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}