header img {
    width: 100px;
    height: 100px;
}

header nav {
    background: rgb(109,139,116);
    background: linear-gradient(0deg, rgba(109,139,116,1) 0%, rgba(95,113,97,1) 51%);
}


.collapse {
    flex-direction: row-reverse;
}